// header


header{
    .brand{
        margin-top: 8%;
    }
    .top-nav{
        background: $gray-lite;
        padding: $p-20 0;
        .address{
            @include flex;
            i{
                padding-right: $p-10;
            }
        }
        .right-side{
            @include flex;
            width: 75%;
            float: right;
            .social{
                a{
                    padding: 0 $p-5;
                }
            }
        }
    } // .top-nav
 
    ul.main-nav{
        @include flex;
        width: 80%;
        float: right;
        align-items: center;
        height: 100px;
    }
}
//END header

// slider
.slider{
    background: url(../images/bg.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 60vh;
    color: $gray-lite2;
    position: relative;
    &:after{
        content: "";
        @include grdint-color;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: 1;
    }
    h1{
        font-family: $ff-heading;
        font-size: 45px;
        letter-spacing: 0.1em;
        text-align: center;
        margin-bottom: 100px;
        @extend %z-index;
    }
    
    .left-side{
        float: $f-l;
        width: 50%;
        @extend %z-index;
        display: flex;
        align-items: center;
    }
    .right-side{
        @extend %z-index;
        margin-top: 50px;
        float: $f-r;
        width: 50%;
        display: flex;
        align-items: center;
        
        .content-slider{
            width: 90%;
            float: $f-r;
            p{
               color: $gray-lite !important;
               margin-bottom: m-20;
            }
            a.button{
               @include button-link;
               display: block;
               width: 30%;
            }
        }
    }
}

//END slider

