@mixin flex {
    display: flex;
    justify-content: space-between;
}


@mixin  grdint-color {
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@mixin button-link {
    margin-top: 10px;
    background: $orang;
    padding: 10px 20px;
    text-align: center;
    color: $gray-lite2;
    border-radius: 5px;
    &:hover{
        background: $orang;
    }
}

