// colors
$blue-dark : #554e9f;
$orang:#fe6500;
$gray-lite:#f5f5f599;
$gray-lite2:#f7f7f7;
$gray-dark:#434345;

// END colors


// FONTS 
@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto+Condensed');
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Courgette', cursive;

$ff-heading : 'Courgette', cursive;
$ff-body : 'Roboto Condensed', sans-serif;

// END FONTS

//  FONTS
$p-5 :5;
$p-10:10;
$p-20:20;
$p-30:30;
$p-60:60;

// END FONTS
$m-10 : 10;
$m-20 : 20;
$m-30 : 30;
$m-40 : 40;
$m-50 : 50;


// floate
$f-l : left;
$f-r : right;
// END-floate





